# === Garage S3 Credentials ===
# Container ID: 370
# Tarih: Tue Oct  6 22:22:26 UTC 2026

# --- Infrastructure ---
GARAGE_IP=164.102.98.142
GARAGE_PORT=3900

# --- RPC (Node communication) ---
RPC_SECRET=54a6f6f672d5e1bbe0e5b6fdffe282fdbf0311115c6b0e0a33efcc3f573d0a2f

# --- Admin API ---
ADMIN_TOKEN=s6dKkZRBreoz66ehLyv/1Ur1nQE9VWo6JNpHQvxbG8E=

# --- Prometheus Metrics ---
METRICS_TOKEN=LMB88JOi9VUug98pe9YhzouYYeKBWiOew4zQwIrbEJk=
METRICS_URL=http://164.102.98.142:3903/metrics

# --- S3 API (Tofu/Client) ---
S3_ENDPOINT=http://164.102.98.142:3900
S3_ACCESS_KEY=GKf600f8d0ebdcb9fcc4111155
S3_SECRET_KEY=0e2cfc3dd3c299e3e4204c69082533c07e539f87098c12b9669c03a704234121

S3_REGION=garage
