---
kubeProxyReplacement: true

k8sServiceHost: {{ ansible_facts["default_ipv4"]["address"] }}
k8sServicePort: "6443"

gatewayAPI:
  enabled: true

k8sClusterNetworkPolicy:
  enabled: true

hubble:
  enabled: true
  relay:
    enabled: true
  ui:
    enabled: true

ipam:
  mode: kubernetes

l2announcements:
  enabled: true
  leaseDuration: 120s
  leaseRenewDeadline: 60s
  leaseRetryPeriod: 5s

externalIPs:
  enabled: true

cni:
  binPath: /usr/lib/cni
  confPath: /etc/cni/net.d
  chainingMode: none