apiVersion: cilium.io/v2
kind: CiliumClusterwideNetworkPolicy
metadata:
  name: "allow-cidr-egress-{{ policy_cidr_name }}"
spec:
  description: "{{ policy_cidr_description }}"
  endpointSelector:
{% if policy_cidr_selector.matchLabels is defined %}
    matchLabels:
{% for k, v in policy_cidr_selector.matchLabels.items() %}
      {{ k }}: {{ v }}
{% endfor %}
{% elif policy_cidr_selector.matchExpressions is defined %}
    matchExpressions:
{% for expr in policy_cidr_selector.matchExpressions %}
    - key: {{ expr.key }}
      operator: {{ expr.operator }}
      values:
{% for val in expr['values'] %}
      - {{ val }}
{% endfor %}
{% endfor %}
{% endif %}
  egress:
  - toCIDR:
{% for cidr in policy_cidr_cidrs %}
    - {{ cidr }}
{% endfor %}
    toPorts:
    - ports:
{% for port in policy_cidr_ports %}
      - port: "{{ port }}"
        protocol: TCP
{% endfor %}