{# 'spc' include vars tarafindan golgelenebilir; turetilmis SPC spc_effective'tedir. App SPC'si varsa o kazanir. #}
{% set spc = spc if (spc | default({}) | length > 0) else (spc_effective | default({})) %}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ spc.name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/managed-by: app-deploy
    app.kubernetes.io/name: {{ name }}
spec:
  provider: openbao
  parameters:
    roleName: {{ spc.roleName }}
    # Plan v5:14 + Faz 0 madde 5: audience acik yazilir (cluster-sabiti).
    # Yoksa provider cluster-default audience'li token ister, rol (audience=openbao) 403 verir.
    audience: openbao
    objects: |
{{ spc.objects | to_nice_yaml(indent=2) | indent(6, True) }}
