apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/managed-by: app-deploy
    app.kubernetes.io/name: {{ name }}
spec:
  selector:
    app: {{ name }}
  ports:
    - name: http
      port: {{ port | default(80) }}
      targetPort: {{ container_port | default(port | default(80)) }}
