apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: <BASE64_CERT_DATA>
    server: https://<KUBERNETES_HOST>:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
users:
- name: kubernetes-admin
  user:
    client-certificate-data: <BASE64_CLIENT_CERT>
    client-key-data: <BASE64_CLIENT_KEY>
