apiVersion: v1
kind: Config
current-context: deployer
clusters:
- cluster:
    certificate-authority-data: <BASE64_CERT_DATA>
    server: https://<KUBERNETES_HOST>:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: deployer
  name: deployer
users:
- name: deployer
  user:
    token: <SERVICE_ACCOUNT_TOKEN>
