apiVersion: v1
kind: Config
current-context: developer
clusters:
- cluster:
    certificate-authority-data: <BASE64_CERT_DATA>
    server: https://<KUBERNETES_HOST>:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: developer
  name: developer
users:
- name: developer
  user:
    token: <SERVICE_ACCOUNT_TOKEN>
