apiVersion: v1
kind: Config
current-context: monitoring
clusters:
- cluster:
    certificate-authority-data: <BASE64_CERT_DATA>
    server: https://<KUBERNETES_HOST>:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: monitoring
  name: monitoring
users:
- name: monitoring
  user:
    token: <SERVICE_ACCOUNT_TOKEN>
