apiVersion: v1
kind: Config
current-context: openbao-auth-reviewer
clusters:
- cluster:
    certificate-authority-data: <BASE64_CERT_DATA>
    server: https://<KUBERNETES_HOST>:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: openbao-auth-reviewer
  name: openbao-auth-reviewer
users:
- name: openbao-auth-reviewer
  user:
    token: <SERVICE_ACCOUNT_TOKEN>
